@use "../libs/_mixins.scss" as *;
@use "../libs/variables.scss" as *;

.admin-direction-page {
  margin-bottom: 120px;
  .admin-direction-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
  }
  .admin-direction-text {
    font-family: var(--second-family);
    @include font-setup(16, 22, 400, false);
    color: var(--color-main);
    & > p + p {
      margin-top: 16px;
    }
  }
  .admin-direction-img {
    border-radius: 8px;
    max-width: 480px;
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
  .admin-direction-img {
    margin-bottom: 16px;
  }

  .admin-direction-img-container {
    flex-shrink: 0;
    max-width: 480px;
    width: 100%;
  }

  .admin-direction-video-container {
    position: relative;
    border-radius: 8px;
    max-width: 480px;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    overflow: hidden;
    margin-left: auto;
  }

  .admin-direction-video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .admin-direction-page {
    .admin-direction-content {
      flex-direction: column;
    }
  }
}
