@use "../libs/_mixins.scss" as *;

// Breadcrumbs wrapper
.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: inherit;
}

// Breadcrumbs list
.breadcrumbs__list {
}

// Breadcrumbs item
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;

  a,
  span {
    @include font-setup(12, 12, 400);
    color: #727272;
    text-decoration: none;

    transition-duration: var(--transition-normal);
    user-select: none;
  }

  a:first-child {
    color: var(--color-main);
  }

  a:hover {
    text-decoration: underline;
  }

  // &:focus {
  //   outline: 2px solid var(--color-primary);
  //   outline-offset: 2px;
  //   border-radius: 2px;
  // }

  a:after {
    content: "/";
    display: inline-block;
    margin-left: 4px;
    color: #727272;
  }
}

// Breadcrumbs separator
.breadcrumbs__separator {
  color: #727272;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
}
