@use "../libs/mixins" as *;

.filter {
  &__accordion {
    border: 1px solid var(--color-light-blue);
    border-radius: 8px;

    &__summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 16px 12px;

      color: var(--color-accent-blue);

      svg {
        transition-duration: var(--transition-normal);
        width: 16px;
        height: 16px;
        transform: rotate(0deg);
      }
    }
    &__title {
      @include font-setup(16, 15, 600);
    }

    &__details[open] ~ &__content {
      padding: 0px 12px 16px 12px;
    }

    &__details[open] .filter__accordion__summary {
      svg {
        transform: rotate(180deg);
      }
    }

    &__list {
      transition-duration: var(--transition-normal);
      display: flex;
      flex-direction: column;

      margin-bottom: 16px;
      max-height: 174px;
      overflow-y: auto;

      .control {
        padding-top: 8px;
      }

      .control:not(:last-child) {
        padding-bottom: 8px;
      }

      &::-webkit-scrollbar {
        width: 2px;
        height: 54px;
      }
      &::-webkit-scrollbar-track {
        background: var(--color-white-1);
        /* Закругленные углы дорожки */
      }

      /* Ползунок скроллбара (та часть, которую можно перетаскивать) */
      &::-webkit-scrollbar-thumb {
        background: var(--color-light-blue-2);
        border-radius: 2px;
      }
    }

    .filter__reset-filters {
      font-size: 12px;
      text-align: left;
    }
  }

  &__reset-filters {
    @include font-setup(16, 19, 600);
    color: #727272;
    cursor: pointer;
  }

  &__side-bar {
    --topPadding: 64px;

    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);

    transition-duration: var(--transition-normal);
    height: 100dvh;
    transition-property: transform;
    background-color: var(--color-white);

    z-index: var(--z-fixed);

    pointer-events: none;
    width: 100dvw;
    background: #72727254;
    display: flex;
    justify-content: flex-end;

    --applyButtonPadding: 24px;

    &__inner-container {
      overflow: auto;
      padding: var(--topPadding) 130px 0px 20px;
      height: 100%;
      max-width: var(--width-side-bar-filter);
      pointer-events: all;
      background-color: var(--color-white);
    }

    &__inner {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;

      .modal__close {
        top: calc(var(--topPadding) / 2 * -1 - var(--size-close-button) / 2);
        right: 0;
      }
    }

    &__apply {
      position: sticky;
      bottom: var(--applyButtonPadding);
      margin-top: auto;
      z-index: 10;
    }

    &.is-open {
      transform: translateX(0);

      &::after {
        content: "";
        position: absolute;

        /* inset: 0; */
        /* LEFT: -100%; */
        top: 0;
        height: 100%;
        right: 100%;
        bottom: 0;
        pointer-events: none;
        width: 100dvw;
        background: #72727254;
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .filter__reset-filters {
        font-size: 16px;
      }
    }

    &__title {
      --minFontSize: 20;
      --maxFontSize: 24;
      @include font-setup(
        var(--maxFontSize),
        29,
        700,
        true,
        var(--minFontSize),
        var(--maxFontSize),
        var(--container-max-width)
      );
      color: var(--color-main);
    }

    &__content {
      &-inner {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: calc(var(--applyButtonPadding) * 2);
      }
    }
    .filter__reset-filters {
      color: var(--color-gray-2);
    }
  }
}

@media (max-width: 430px) {
  .filter {
    --width-side-bar-filter: 100%;

    &__side-bar {
      padding-inline: var(--container-padding-x);

      &__apply {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
