.loader {
  --width: 48px;
  --height: 48px;
  --borderWidth: 3px;
  --colorLoader: var(--color-accent-blue);
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  display: inline-block;
  border-top: var(--borderWidth) solid var(--colorLoader);
  border-right: var(--borderWidth) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  border-bottom: var(--borderWidth) solid var(--colorLoader);
  border-left: var(--borderWidth) solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

.position-center-loader {
  position: absolute;
  top: calc(50% - (var(--width) / 2));
  left: calc(50% - (var(--width) / 2));
  transform: translate(-50%, -50%);
}
