@use "../libs/_mixins.scss" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  --sizeButton: 26px;

  &__button {
    @include font-setup(16, 22, 400);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--sizeButton);
    height: var(--sizeButton);

    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;
    transition-duration: var(--transition-normal);
    color: var(--color-main);

    @include hover-btn() {
      background-color: var(--color-accent-blue);
      color: var(--color-light);
    }

    svg {
      width: 24px;
      height: 24px;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
        color: var(--color-main);
      }
    }

    &.active {
      background-color: var(--color-accent-blue);
      color: var(--color-light);
    }

    user-select: none;

    &:has(.pagination__button__ellipsis) {
      pointer-events: none;
    }
  }

  &__show-more {
    display: flex;
    margin-top: 40px;
    margin-inline: auto;
  }
}
