@use "../libs/mixins" as *;

.search-box {
  padding: 12px;
  background-color: var(--color-white-1);
  border-radius: 8px;
  width: 100%;

  &__form {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__input {
    width: 100%;
    height: var(--height-search-input);
  }

  &__button-search {
    @include font-setup(16, 19, 400);
    color: var(--color-light);
    padding: 12px 24px;
    width: max-content;
    height: var(--height-search-input);
    border-radius: 4px;
    background-color: var(--color-accent-blue);
  }

  &__label {
    @include font-setup(24, 29, 700, true, 18, 24, var(--container-max-width));
    color: var(--color-main);
  }

  &__total-results {
    font-family: var(--second-family);

    color: #727272;
    @include font-setup(16, 22, 400);
  }

  &__filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;

    &-toggle {
      display: none;
    }

    &-title {
      @include font-setup(20, 24, 700);
      color: #242424;
      margin-bottom: 16px;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 16px 8px;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .search-box {
    &__filters-toggle {
      display: block;
      margin-top: 24px;
    }

    &__filters {
      position: relative;
      max-height: 0px;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      visibility: hidden;
      transition-duration: var(--transition-normal);
      margin-top: 0px;
      &.is-open {
        max-height: 100%;
        opacity: 1;
        pointer-events: auto;
        margin-top: 24px;
        z-index: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 550px) {
  .search-box__form {
    flex-wrap: wrap;
  }

  .search-box__button-search {
    max-width: 100%;
    flex-grow: 6;
    height: 40px;
  }
  .btn__filter {
    flex: 1;
    max-width: 100%;
    height: 40px;
  }
}
