@use "../libs/_mixins.scss" as *;

.vacancy-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 120px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__actions {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30dvh;

    &-text {
      @include font-setup(18, 22, 400);
      text-align: center;
    }
  }
}

.vacancy-card {
  --maxPadding: 40;
  --minPadding: 24;

  border: 1px solid var(--color-light-blue);
  border-radius: 8px;

  @include fluid-text(
    var(--maxPadding),
    var(--minPadding),
    padding,
    var(--container-max-width)
  );
  max-width: calc(var(--container-max-width) * 1px);
  width: 100%;
  background-color: var(--color-light);
  transition-duration: var(--transition-normal);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  @include hover-btn() {
    box-shadow: 0 0 20px 0 #f7ffcd;
  }

  &__link {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    align-items: flex-end;

    &-text {
      --maxFontSize: 20;
      --minFontSize: 16;
      color: var(--color-main);
      @include font-setup(
        var(--maxFontSize),
        24,
        500,
        var(--minFontSize),
        var(--maxFontSize),
        var(--container-max-width)
      );
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  &__title {
    --maxFontSize: 24;
    --minFontSize: 18;
    display: inline-block;
    @include font-setup(
      var(--maxFontSize),
      29,
      700,
      true,
      var(--minFontSize),
      var(--maxFontSize),
      var(--container-max-width)
    );
    color: var(--color-main);
  }

  &__params {
    display: flex;
    gap: 8px 4px;
    flex-wrap: wrap;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--color-light-blue-2) var(--color-white-1);
    /* Дорожка скроллбара (фон, по которому двигается ползунок) */
    &::-webkit-scrollbar {
      width: 2px;
      height: 33px;
    }
    &::-webkit-scrollbar-track {
      background: var(--color-white-1);
      /* Закругленные углы дорожки */
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-light-blue-2);

      border-radius: 2px;
    }

    /* Ползунок скроллбара (та часть, которую можно перетаскивать) */
    &::-webkit-scrollbar-thumb {
      background: var(--color-light-blue-2);
      border-radius: 2px;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--color-accent-blue);

    span {
      @include font-setup(16, 22, 400);
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.search-vacancies {
  width: 100%;

  &__actions {
    display: flex;
    gap: 8px;
  }
}

@media (max-width: 750px) {
  .vacancy-list {
    margin-bottom: 80px;
  }
}

@media (max-width: 550px) {
  .vacancy-list {
    margin-bottom: 60px;
  }
}

@media (max-width: 450px) {
  .vacancy-card {
    flex-direction: column;
  }

  .vacancy-card__actions {
    flex-direction: row;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
}
