@import "./libs/normalize.scss";
@import "./libs/fonts.scss";
@import "./libs/variables.scss";

html {
  scroll-behavior: smooth;

  scrollbar-gutter: stable;
}

body {
  font-family: "Lato", sans-serif;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  color: var(--color-main);
  //	overflow: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

/* ========== КАСТОМНЫЕ СТИЛИ СКРОЛЛБАРА ========== */

/* Для Webkit браузеров (Chrome, Safari, Edge) */

/* Основной контейнер скроллбара */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

/* Дорожка скроллбара (фон, по которому двигается ползунок) */
::-webkit-scrollbar-track {
  background: var(--color-light-blue); /* Светло-серый полупрозрачный фон */
  /* Закругленные углы дорожки */
}

/* Ползунок скроллбара (та часть, которую можно перетаскивать) */
::-webkit-scrollbar-thumb {
  background: var(--color-light-blue-2); /* Темно-серый полупрозрачный цвет */
  border-radius: 10px; /* Закругленные углы ползунка */
  transition: background 0.3s ease; /* Плавный переход цвета за 0.3 секунды */
}

.controls-play-button {
  width: 48px;
  height: 48px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  background-color: rgba(253, 253, 253, 0.16);
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--color-light);
}

/* Ползунок при наведении курсора */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Угол между вертикальным и горизонтальным скроллбарами */
::-webkit-scrollbar-corner {
  background: transparent; /* Прозрачный угол */
}

// /* Для Firefox */
// * {
//   scrollbar-width: thin; /* Тонкий скроллбар */
//   scrollbar-color: var(--color-light-blue-2) transparent;
//   /* Первый цвет - ползунок, второй - дорожка */
// }

@media (max-width: 1200px) {
  body {
    --container-padding-x: 36px;
  }
}

@media (max-width: 700px) {
  body {
    --container-padding-x: 32px;
  }
}

@media (max-width: 550px) {
  body {
    --container-padding-x: 24px;
  }
}

@media (max-width: 450px) {
  body {
    --container-padding-x: 16px;
  }
}
